<% @products.each do |product| %>
  <p>
    Product: <%= link_to product.title, product %>
  </p>
  <%= product.description %>
  <%= product.colour %>
  <%= product.price %>

  <%= image_tag(product.image_url, class: "img-fluid" , :size => "260x180") unless product.image_url.nil? %>
  <%= link_to 'Show', product %>
  <%= link_to 'Edit', edit_product_path(product) %>
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Order', orders_url %>
</div><!-- /col -->
<% end %>
